@import "src/styles";

.login-form-container {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;

  .login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 450px;
    height: 500px;
    padding: 1em;
    background-color: white;
    box-sizing: border-box;
    box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.75);
    border-radius: 4px;

    .form-title-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1em;

      .logo-text {
        margin-top: 1em;
      }

      h2 {
        margin-bottom: 1em;
      }
    }

    form {
      width: 350px;
      display: flex;
      flex-direction: column;
      gap: 1.5em;

      input {
        padding: .75em 1em;
        border: 1px solid #333;
        border-radius: 8px;
        color: $text-color;
        font-size: 1em;
        outline: none;
      }

      .check-show-password {
        color: $text-color;

        input {
          margin-right: .5em;
        }

        label {
          user-select: none;
        }
      }

      .button-login {
        padding: .75em 1em;
        background-color: $primary-color;
        color: white;
        border: none;
        border-radius: 8px;
        font-size: 1em;
        transition: .25s ease;

        &:disabled {
          @include disable-button();
        }
      }

      .button-login-loading {
        padding: .75em 0;
        border-radius: 8px;
        border: none;
      }
    }

    .register-btn-container {
      width: 350px;
      margin: 1em 0;
      display: flex;
      gap: 1em;
      box-sizing: border-box;
      flex-direction: column;

      span {
        text-align: center;
        color: $text-color;
      }

      .register-btn {
        padding: .75em 1em;
        background-color: white;
        color: $primary-color;
        border: 1px solid $primary-color;
        border-radius: 8px;
        font-size: 1em;
        cursor: pointer;

      }
    }
  }
}
