<div class="loan-type-form">
  <div class="loan-type-form-title">
    <h2>Loan Type Form</h2>
  </div>
  <form class="lt-form">
    <div class="input-container">
      <label for="type">Loan Type</label>
      <input type="text" name="type" id="type" placeholder="Cont: Pinjaman Kredit Elektronik">
    </div>
    <div class="input-container">
      <label for="max-loan">Max Loan</label>
      <input type="text" name="max-loan" id="max-loan" placeholder="100000">
    </div>
    <button class="submit-loan-type" type="submit">Add</button>
  </form>
</div>
