@import "src/styles";

@mixin loan-type-container {
  background-color: white;
  padding: 1em;
  border-radius: 12px;
  margin-bottom: 1em;
}

.loan-type-container {

  .welcome-loan-type-container {
    @include loan-type-container;
    color: $active-text-color;
  }

}
