@import "src/styles";

.loan-type-list {
  background-color: white;
  padding: 1em;
  border-radius: 12px;
  margin-bottom: 1em;

  .loan-type-list-title {
    color: $text-color;
    display: flex;
    justify-content: space-between;

    .add-btn-loan-type {
      background-color: $primary-color;
      color: white;
      border: none;
      padding: .5em 1em;
      font-size: 1em;
      border-radius: 4px;
    }
  }

  .table {
    @include table();

    tbody tr td.actions {
      display: flex;
      gap: 1em;

      button {
        font-size: 1em;
        padding: .5em;
        border: none;
        border-radius: 8px;
        cursor: pointer;

        &.loan-type-btn-update {
          background-color: $primary-active-color;
          color: $primary-color;
        }

        &.loan-type-btn-delete {
          background-color: $danger-color;
          color: white;
        }

      }
    }
  }
}
