<div class="login-form-container">
  <div class="login-form">
    <div class="form-title-container">
      <div class="logo-text">#Loan App</div>
      <h2>Register</h2>
    </div>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <input [formControlName]="formField.email" type="email" name="email" id="email" placeholder="example@mail.com">
      <input [formControlName]="formField.password" [type]="!showPassword ? 'password' : 'text'" name="password" id="password"
             placeholder="Password">
      <div class="check-show-password">
        <input type="checkbox" (change)="toggleChecked($event)" name="show-password" id="show-password">
        <label for="show-password">Show Password</label>
      </div>
      <button class="button-register" type="submit" [disabled]="form.invalid">Register</button>
    </form>

    <div class="register-btn-container">
      <span>Already have an account?</span>
      <button class="login-btn" [routerLink]="['/login']">Sign In</button>
    </div>
  </div>
</div>
