<div class="navbar">
  <div class="logo-container">
    <h1 class="logo-text"># Loan App</h1>
  </div>

  <ul class="navbar-nav">
    <li class="navbar-nav-item" *ngFor="let data of navbarData">
      <div class="tooltip" [tooltip]="data.label">
        <a class="navbar-nav-link" [routerLink]="data.path" [routerLinkActive]="'active'"
           [routerLinkActiveOptions]="{exact: true}">
          <i *ngIf="collapsed" [ngClass]="data.icon"></i>
          <span class="description">{{data.label}}</span>
        </a>
      </div>
    </li>
  </ul>

  <div class="user-section-container">
    <div class="status-user">
      <span>Online</span>
    </div>
    <div class="user-profile">
      <img *ngIf="currentCustomer?.profilePicture; else noUser" [src]="currentCustomer?.profilePicture?.url" alt="{{currentCustomer?.firstName}}">
      <ng-template #noUser><i class="bi bi-person icon"></i></ng-template>
    </div>
    <div class="user-setting">
      <span [routerLink]="['/setting']">View Profile</span>
    </div>
    <div class="user-logout">
      <span class="logout-text" (click)="onLogout()">Logout</span>
    </div>
  </div>
</div>
