<div class="loan-type-form">
  <div class="loan-type-form-title">
    <h2>Loan Type Form</h2>
    <button class="back-btn-list" [routerLink]="['/loan-type']">Back</button>
  </div>
  <form class="lt-form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="input-container">
      <label for="type">Loan Type</label>
      <input [formControlName]="formField.loanType" type="text" name="type" id="type"
             placeholder="Cont: Pinjaman Kredit Elektronik">
    </div>
    <div class="input-container">
      <label for="max-loan">Max Loan</label>
      <input [formControlName]="formField.maxLoan" type="text" name="max-loan" id="max-loan"
             [placeholder]="100000 | currency:'IDR'">
    </div>

    <button class="submit-loan-type" type="submit" [disabled]="form.invalid">{{buttonTitle}}</button>
  </form>
</div>
