<div class="loan-type-form">
  <div class="loan-type-form-title">
    <h2>Loan Type Form</h2>
  </div>
  <form class="lt-form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="input-container">
      <label for="type">Loan Type</label>
      <input [formControlName]="formField.loanType" type="text" name="type" id="type"
             placeholder="Cont: Pinjaman Kredit Elektronik">
    </div>
    <div class="input-container">
      <label for="max-loan">Max Loan</label>
      <input [formControlName]="formField.maxLoan" type="text" name="max-loan" id="max-loan"
             [placeholder]="100000 | currency:'IDR'">
    </div>
    <ng-container *ngIf="!loading; else load">
      <button class="submit-loan-type" type="submit">Add</button>
    </ng-container>
    <ng-template #load>
      <button class="submit-loan-type loading" type="submit">
        <app-loading></app-loading>
      </button>
    </ng-template>
  </form>
</div>
