@import "src/styles";

.transaction-container {


  .welcome-transaction-container {
    background-color: white;
    padding: 1em;
    border-radius: 12px;
    margin-bottom: 1em;
    color: $active-text-color;
  }

}
