@import "src/styles";

:host {
  width: $min-width;
}

.home-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin: 0 auto;
  width: $min-width;
  max-width: $max-width;
  background-color: white;
  padding: 1em;
  border-radius: 8px;
  color: $active-text-color;

  .message-info.info {
    background-color: $primary-color;
    color: white;
    padding: 1em;
    border-radius: 8px;
  }

  .welcome-text-container {

  }
}
